Per a poder executar correctament el notebook cal tenir instal·lats els següents python packages:

TensorFlow

Keras

Lime

En cas de no tenir-los instal·lats, empreu les següents comandes :

!pip install tensorflow

!pip install keras

!pip install lime
